.hippo{
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 10px;
    color: #00adea;
}
.hippo__body{
    position: absolute;
    top: 1em;
    width: 20em;
    height: 7em;
    background-color: currentColor;
    border-radius: 4em;
}
.hippo__head{
    left: 10em;
    position: absolute;
    background-color: currentColor;
    width: 6em;
    height: 4em;
    border-radius: 100%;
}
.hippo__head__ear{
    position: absolute;
    left: 0.4em;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 4em 1em 0 0 white;
}

.hippo__leg{
    position: absolute;
    top: 6em;
    background-color: currentColor;
    height: 4em;
    width: 3em;
    border-radius: 1em;
}

.hippo__leg--foreground{
    left: 1em;
    box-shadow: 12em 0 0 0;
    animation: leg-walk 6s linear infinite;
}

.hippo__leg--background{
    opacity: 0.6;
    left: 5em;
    box-shadow: 4em 0 0 0;
    animation: leg-walk 6s linear infinite;
    animation-delay: -3s;
}

/* 1em 5em 9 em 13em */
  
@keyframes leg-walk{
    0%, 100%{
        left: 1em;
        box-shadow: 12em 0 0 0;
    }
    50%{
        left: 5em;
        box-shadow: 4em 0 0 0;
    }
}