.hippo-container{
    position: absolute;
    height: 10em;
    width: 25em;
    top: 100px;
    left: 50px;
    font-size: 10px;
    color: #00adea;
}
.hippo{
    position: absolute;
    top: 1em;
    left: 4em;
    width: 20em;
    height: 7em;
    background-color: currentColor;
    border-radius: 4em;
}
.hippo__head{
    top: -1em;
    left: 10em;
    position: absolute;
    background-color: currentColor;
    width: 6em;
    height: 4em;
    border-radius: 100%;
}
.hippo__head__ear{
    position: absolute;
    left: 0.4em;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 4em 1em 0 0 white;
}

.hippo__leg{
    position: absolute;
    top: 5em;
    background-color: currentColor;
    height: 4em;
    width: 3em;
    border-radius: 1em;
    animation: leg-walk 6s linear infinite;
}

.hippo__leg--foreground{
    left: 1em;
    box-shadow: 12em 0 0 0;
}

.hippo__leg--background{
    opacity: 0.6;
    left: 5em;
    box-shadow: 4em 0 0 0;
    animation-delay: -3s;
}

.hippo__tail{
  position: absolute;
  width: 2.5em;
  top: 1.6em;
  left: -2em;
  height: 0.5em;
  background-color: currentColor;
  transform-origin: right 0;
  transform: rotate(-75deg);
  animation: tail-move 2s linear infinite;
}

.hippo-poo::before, .hippo-poo::after{
  content: '';
  position: absolute;
  top: 3em;
  left: 4em;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: brown;
  
}

.hippo-poo::before{
  animation: hippo-pooping2 2s linear infinite;
}

.hippo-poo::after{
  animation: hippo-pooping 2s linear infinite;
  animation-delay: -1s;
}

@keyframes hippo-pooping{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 0em;
  }
}

@keyframes hippo-pooping2{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 0em;
    top: 6em;
  }
}

@keyframes tail-move{
  0%, 100%{
    transform: rotate(-75deg);
  }
  50%{
    transform: rotate(0);
  }
}
  
@keyframes leg-walk{
    0%, 100%{
        left: 1em;
        box-shadow: 12em 0 0 0;
    }
    50%{
        left: 5em;
        box-shadow: 4em 0 0 0;
    }
}